[Unit]
Description = systemd setteing for IotLogger server
After=network-online.target
ConditionPathExists=/home/pi/app/IotLogger/server

[Service]
WorkingDirectory=/home/pi/app/IotLogger/server/
ExecStart=/home/pi/app/IotLogger/server/start.sh
User=pi
Group=pi
Restart=no
Type=simple


[Install]
WantedBy=multi-user.target
